<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container-fluid">
      <a class="btn btn-primary" class="navbar-brand" href="/">Anasayfa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a style="margin-left:20px;"class="btn btn-success" class="nav-link active" aria-current="page" href="/about">Hakkımızda</a>
            </li>
            <li class="nav-item">
              <a style="margin-left:20px;"class="btn btn-success" class="nav-link active" aria-current="page" href="/makaleler">Makaleler</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto"> <!-- Kontrol Paneli, Çıkış Yap ve Kayıt Ol menü öğeleri -->
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a style="margin-left:20px;"class="btn btn-primary" class="nav-link active" aria-current="page" href="/makaleler/dashboard">Kontrol Paneli</a>
            </li>
            <br>
            <li class="nav-item">
              <a style="margin-left:20px;"class="btn btn-primary" class="nav-link active" aria-current="page" href="/user/logout/">Çıkış Yap</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a style="margin-left:20px;"class="btn btn-primary" class="nav-link active" aria-current="page" href="/user/login/">Giriş Yap</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a style="margin-left:20px;"class="btn btn-primary" class="nav-link active" aria-current="page" href="{% url "user:register" %}">Kayıt Ol</a>
            </li>
          </ul>
          
      </div>
  </div>
</nav>
